/*
_____/\\\\\\\\\_____/\\\\\\\\\\\\\\\__/\\\\\_____/\\\__/\\\\\\\\\\\\\_______/\\\\\\\\\\\\_______/\\\\\______        
 ___/\\\\\\\\\\\\\__\///////\\\/////__\/\\\\\\___\/\\\_\/\\\/////////\\\___/\\\//////////______/\\\///\\\____       
  __/\\\/////////\\\_______\/\\\_______\/\\\/\\\__\/\\\_\/\\\_______\/\\\__/\\\_______________/\\\/__\///\\\__      
   _\/\\\_______\/\\\_______\/\\\_______\/\\\//\\\_\/\\\_\/\\\\\\\\\\\\\/__\/\\\____/\\\\\\\__/\\\______\//\\\_     
    _\/\\\\\\\\\\\\\\\_______\/\\\_______\/\\\\//\\\\/\\\_\/\\\/////////____\/\\\___\/////\\\_\/\\\_______\/\\\_    
     _\/\\\/////////\\\_______\/\\\_______\/\\\_\//\\\/\\\_\/\\\_____________\/\\\_______\/\\\_\//\\\______/\\\__   
      _\/\\\_______\/\\\_______\/\\\_______\/\\\__\//\\\\\\_\/\\\_____________\/\\\_______\/\\\__\///\\\__/\\\____  
       _\/\\\_______\/\\\_______\/\\\_______\/\\\___\//\\\\\_\/\\\_____________\//\\\\\\\\\\\\/_____\///\\\\\/_____ 
        _\///________\///________\///________\///_____\/////__\///_______________\////////////_________\/////_______
*/
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$brand-primary: #4357ad;
$brand-success: #8ac926;
$brand-warning: #ffca3a;
$brand-danger: #d63230;
$brand-info: #60b2b8;

$black: #FFFFFF;
$gray-900: #FFFFFF;
$gray-800: #E6E6E6;
$gray-700: #CCCCCC;
$gray-600: #B2B2B2;
$gray-500: #999999;
$gray-400: #808080;
$gray-300: #666666;
$gray-200: #4D4D4D;
$white: #333333;

$breakpoint: 48em;

$font-weight-bold: 700;
$font-weight-normal: 300;
$font-weight-light: 300;

@import "./bootstrap-4.1.1/_functions.scss";
@import "./bootstrap-4.1.1/_variables.scss";
@import "./bootstrap-4.1.1/_mixins.scss";
@import "./bootstrap-4.1.1/_print.scss";
@import "./bootstrap-4.1.1/_reboot.scss";
@import "./bootstrap-4.1.1/_type.scss";
@import "./bootstrap-4.1.1/_images.scss";
@import "./bootstrap-4.1.1/_code.scss";
@import "./bootstrap-4.1.1/_grid.scss";
@import "./bootstrap-4.1.1/_tables.scss";
@import "./bootstrap-4.1.1/_forms.scss";
@import "./bootstrap-4.1.1/_buttons.scss";
@import "./bootstrap-4.1.1/_transitions.scss";
@import "./bootstrap-4.1.1/_dropdown.scss";
@import "./bootstrap-4.1.1/_button-group.scss";
@import "./bootstrap-4.1.1/_input-group.scss";
@import "./bootstrap-4.1.1/_custom-forms.scss";
@import "./bootstrap-4.1.1/_nav.scss";
@import "./bootstrap-4.1.1/_navbar.scss";
@import "./bootstrap-4.1.1/_card.scss";
@import "./bootstrap-4.1.1/_breadcrumb.scss";
@import "./bootstrap-4.1.1/_pagination.scss";
@import "./bootstrap-4.1.1/_badge.scss";
@import "./bootstrap-4.1.1/_jumbotron.scss";
@import "./bootstrap-4.1.1/_alert.scss";
@import "./bootstrap-4.1.1/_progress.scss";
@import "./bootstrap-4.1.1/_media.scss";
@import "./bootstrap-4.1.1/_list-group.scss";
@import "./bootstrap-4.1.1/_close.scss";
@import "./bootstrap-4.1.1/_modal.scss";
@import "./bootstrap-4.1.1/_tooltip.scss";
@import "./bootstrap-4.1.1/_popover.scss";
@import "./bootstrap-4.1.1/_carousel.scss";
@import "./bootstrap-4.1.1/_utilities.scss";

html {
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
    font: {
        family: $font-family-base;
        size: 16px;
    }
    > body {
        display: flex;
        min-height: 100%;
        background-color: $body-bg;
        padding: 0;
        margin: 0;
        font: {
            family: $font-family-base;
            size: 16px;
        }
        & > .container {
            @include media-breakpoint-down(xs) {
                padding-bottom: 1rem;
            }
        }
    }
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    @media (min-width: $breakpoint) {
        float: left;
    }
}

.nav-masthead {
    & .nav-link {
        padding: .25rem 0;
        font-weight: $font-weight-bold;
        color: transparentize($black, 0.5);
        background-color: transparent;
        border-bottom: .25rem solid transparent;
        &:hover, &:focus {
            border-bottom-color: transparentize($black, 0.25);
        }
        & + .nav-link {
            margin-left: 1rem;
        }
    }
    & .active {
        color: $black;
        border-bottom-color: $black;
    }
    @media (min-width: $breakpoint) {
        float: right;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
}

.content {
    width: 100%;
    height: calc(100% - 36px);
    @extend .d-flex;
    @extend .flex-column;
    @extend .align-items-center;
    @extend .justify-content-center;
}

$brands: () !default;
$brands: map-merge((
        "facebook": #3B5998,
        "instagram": #E4405F,
        "twitter": #1DA1F2,
        "snapchat": #FFFC00,
        "github": #4078C0,
        "linkedin": #0077B5,
        "youtube": #FF0000,
        "stackoverflow": #FE7A16,
        "reddit": #FF4500,
        "twitch": #6441a4,
        "tumblr": #36465d
), $brands);

@each $color, $value in $brands {
    .btn-outline-#{$color} {
        @include button-outline-variant($value, $body-bg);
        &:hover > i::before {
            color: $white;
        }
    }
}

.btn-outline-black {
    @include button-outline-variant($black, $white);
}