/*
 * _____/\\\\\\\\\_____/\\\\\\\\\\\\\\\__/\\\\\_____/\\\__/\\\\\\\\\\\\\_______/\\\\\\\\\\\\_______/\\\\\______
 *  ___/\\\\\\\\\\\\\__\///////\\\/////__\/\\\\\\___\/\\\_\/\\\/////////\\\___/\\\//////////______/\\\///\\\____
 *   __/\\\/////////\\\_______\/\\\_______\/\\\/\\\__\/\\\_\/\\\_______\/\\\__/\\\_______________/\\\/__\///\\\__
 *    _\/\\\_______\/\\\_______\/\\\_______\/\\\//\\\_\/\\\_\/\\\\\\\\\\\\\/__\/\\\____/\\\\\\\__/\\\______\//\\\_
 *     _\/\\\\\\\\\\\\\\\_______\/\\\_______\/\\\\//\\\\/\\\_\/\\\/////////____\/\\\___\/////\\\_\/\\\_______\/\\\_
 *      _\/\\\/////////\\\_______\/\\\_______\/\\\_\//\\\/\\\_\/\\\_____________\/\\\_______\/\\\_\//\\\______/\\\__
 *       _\/\\\_______\/\\\_______\/\\\_______\/\\\__\//\\\\\\_\/\\\_____________\/\\\_______\/\\\__\///\\\__/\\\____
 *        _\/\\\_______\/\\\_______\/\\\_______\/\\\___\//\\\\\_\/\\\_____________\//\\\\\\\\\\\\/_____\///\\\\\/_____
 *         _\///________\///________\///________\///_____\/////__\///_______________\////////////_________\/////_______
 */


$primary: #F52400;
$background: #360800;
$border: #761100;

$control: #acf9fb;
$disabled: #999999;


$snapchat: #FFFC00;
$instagram: #E4405F;
$github: #4078C0;
$linkedin: #0077B5;
$youtube: #FF0000;
$facebook: #3B5998;
$reddit: #FF4500;
$twitch: #6441A4;
$twitter: #1DA1F2;

$font-family-base: 'exan-regular', 'monospace';

html, body {
    overflow: hidden;
    background-color: $background;
}

button {
    font-family: $font-family-base;
    display: flex !important;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    
    & > i {
        margin-right: 0.5rem;
    }
}

p {
    margin-bottom: 1rem !important;
}

footer {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    @media (max-width: 600px) {
        padding: 0.5rem;
    }
    
    & > div {
        &:first-child {
            top: 0 !important;
            border-bottom-width: 4px !important;
        }
        
        &:last-child {
            display: flex;
            justify-content: space-between;
        }
    }
}

#root {
    & > div > div:last-child {
        overflow: hidden !important;
    }
}

article {
    & h1 {
        font-size: 2rem !important;
        
        & a:not(.close) > span > span {
            text-shadow: 0 0 16px transparentize($control, 0.2);
        }
    }
    
    & article {
        & header {
            & > h1 {
                font-size: 1.5rem !important;
            }
            
        }
    }
    
    & header {
        padding: 0.5rem 1rem !important;
        
        & > h1 {
            display: flex !important;
            justify-content: space-between;
        }
    }
}

.first-frame {
    margin-top: 1rem !important;
    @media (min-width: 700px) {
        margin-top: 2rem !important;
    }
    
    @media (min-width: 1200px) {
        margin-top: 8rem !important;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: $background;
    opacity: 0.6;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    //min-width: 400px;
    width: 90%;
    @media (max-width: 599px) {
        width: 100%;
    }
    @media (min-width: 900px) {
        max-width: 800px;
    }
    //min-height: 400px;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.auto-width {
    max-width: 61.8034%;
    @media (max-width: 599px) {
        max-width: 100%;
    }
}

a {
    color: $primary !important;
    
    &.close {
        font-family: $font-family-base !important;
        padding: 0 0 0 1rem;
        font-size: 1rem;
        transition: color 350ms ease-in-out;
        display: flex;
        align-items: center;
        
        &:hover {
            color: lighten($primary, 25%) !important;
        }
    }
}

.button-container {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center !important;
    @media (min-width: 1488px) {
        justify-content: space-between !important;
    }
}

.auto-hide {
    @media (max-width: 485px) {
        display: none !important;
    }
}

.generic-bg {
    background-color: $background;
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

$animation-timing: 1s;

.slideInTop {
    will-change: transform;
    animation-name: slide-in-top;
    animation-duration: $animation-timing;
    animation-timing-function: ease-in-out;
}

.slideInBottom {
    will-change: transform;
    animation-name: slide-in-bottom;
    animation-duration: $animation-timing;
    animation-timing-function: ease-in-out;
}

.slideInRight {
    will-change: transform;
    animation-name: slide-in-right;
    animation-duration: 2 * $animation-timing;
    animation-timing-function: ease-in-out;
}

.slideInLeft {
    will-change: transform;
    animation-name: slide-in-left;
    animation-duration: 2 * $animation-timing;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in-top {
    from {
        transform: translateY(-150%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-in-bottom {
    from {
        transform: translateY(150%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(150%);
    }
    50% {
        transform: translateX(150%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0%);
    }
}


.wings {
    display: flex;
    justify-content: space-between;
    
    & > div {
        border-bottom: 4px solid $border;
        height: 2rem;
        width: 25vmin;
        min-width: 140px;
        will-change: transform;
        animation-duration: 2 * $animation-timing;
        animation-timing-function: ease-in-out;
        position: fixed;
        
        &:first-child {
            left: 0;
            border-right: 4px solid $border;
            border-bottom-right-radius: 100% 500%;
            animation-name: slide-in-left;
            
            & > div {
                border-bottom-right-radius: 100% 500%;
            }
        }
        
        &:last-child {
            right: 0;
            border-left: 4px solid $border;
            border-bottom-left-radius: 100% 500%;
            animation-name: slide-in-right;
            
            & > div {
                border-bottom-left-radius: 100% 500%;
                display: flex;
                justify-content: end;
                align-items: center;
            }
            
            & > span {
                right: 0;
            }
        }
        
        & > div {
            @extend .generic-bg;
        }
        
        & > span {
            position: absolute;
            color: $primary;
            z-index: 1;
        }
        
    }
}

.low-wing {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid $border;
    width: 30vmin;
    height: 26vmin;
    max-width: 720px;
    max-height: 720px;
    will-change: transform;
    animation-duration: 2 * $animation-timing;
    animation-timing-function: ease-in-out;
    
    @media (max-width: 735px) {
        display: none !important;
    }
    
    &.left {
        border-right: 4px solid $border;
        border-top-right-radius: 100% 500%;
        animation-name: slide-in-left;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        
        & > div {
            &:first-child {
                border-top-right-radius: 100% 500%;
            }
        }
        
        & > figure {
            margin: {
                top: 0;
                right: 20%;
                bottom: 0;
                left: 5%;
            }
            width: calc(100% - 1rem) !important;
            height: calc(100% - 3rem) !important;
        }
    }
    
    &.right {
        border-left: 4px solid $border;
        border-top-left-radius: 100% 500%;
        animation-name: slide-in-right;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        
        & > div {
            &:first-child {
                border-top-left-radius: 100% 500%;
            }
            
            &:last-child {
                padding: 4px;
                margin: {
                    top: 0;
                    right: 5%;
                    bottom: 0;
                    left: 15%;
                }
                width: calc(100% - 1rem) !important;
                height: calc(100% - 1.9rem) !important;
                
                & > div {
                    & > div:last-child {
                        height: 100%;
                        overflow-x: hidden;
                        overflow-y: auto;
                    }
                    
                    & ul {
                        margin-left: 14px !important;
                        margin-bottom: 0 !important;
                        font-size: 0.6rem;
                        
                        & li > span {
                            width: 100%;
                            
                            & > span {
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }
    }
    
    & > div {
        &:first-child {
            @extend .generic-bg;
        }
    }
}


.sidebars {
    position: fixed;
    top: 8rem;
    bottom: calc(2.9rem + 26vmin);
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
    @media (max-width: 735px) {
        display: none !important;
    }
    
    & > div {
        width: 4rem;
        position: relative;
        
        &:first-child {
            @extend .slideInLeft;
            border-right: 4px $border solid;
        }
        
        &:last-child {
            @extend .slideInRight;
            border-left: 4px $border solid;
        }
        
        & > div {
            &:first-child {
                @extend .generic-bg;
            }
            
            &:last-child {
                display: flex;
                height: calc(100% - 2rem);
                
                & > p {
                    margin: 0.5rem 0.25rem !important;
                    transform: scaleX(-1);
                    position: relative;
                    height: 100%;
                    text-orientation: upright;
                    writing-mode: vertical-rl;
                    text-wrap: none;
                    white-space: nowrap;
                    overflow: hidden;
                    
                    & > span {
                        margin-bottom: 0.25rem;
                        will-change: opacity;
                        transition: opacity 50ms linear;
                        height: 1rem;
                        display: inline-block;
                        font-family: $font-family-base;
                        
                        &.flash {
                            animation: flash-in linear 25ms;
                        }
                    }
                }
            }
        }
        
    }
}

@keyframes flash-in {
    from {
        color: silver;
    }
    to {
        color: $primary;
    }
}


/**************************************
 *  Font faces                        *
 **************************************/


@font-face {
    font-family: 'exan-regular';
    src: url('fonts/Exan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ailerons-regular';
    src: url('fonts/Ailerons-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?uch75b');
    src: url('fonts/icomoon.eot?uch75b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uch75b') format('truetype'),
    url('fonts/icomoon.woff?uch75b') format('woff'),
    url('fonts/icomoon.svg?uch75b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
    content: "\e908";
}

.icon-twitch:before {
    content: "\e900";
    color: $twitch;
}

.icon-reddit:before {
    content: "\e901";
    color: $reddit;
}

.icon-twitter:before {
    content: "\e902";
    color: $twitter;
}

.icon-youtube:before {
    content: "\e903";
    color: $youtube;
}

.icon-linkedin:before {
    content: "\e904";
    color: $linkedin;
}

.icon-github:before {
    content: "\e905";
    color: $github
}

.icon-snapchat:before {
    content: "\e906";
    color: $snapchat;
}

.icon-instagram:before {
    content: "\e907";
    color: $instagram;
}
